* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.header {
  background: rgba(249, 243, 238, 0.92);
}

/* ///navigation/// */

.navigation {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}
.navigation__nav {
  align-self: flex-end;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.5rem;
  align-items: flex-end;
}
.navigation__item {
  margin-right: 10rem;
}
.navigation__item:hover {
  text-decoration-line: underline;
}
.navigation__link {
  color: #000000;
  text-decoration: none;
}
.logo-navigation {
  align-self: flex-end;
  color: #000000;
}
.logo {
  margin: 0 10rem 0 5rem;
  display: flex;
}

/* ///Main-Content/// */

.main-content {
  display: flex;
  flex-direction: column;
}
.main-content__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}
.main-content__heading {
  font-family: inherit;
  font-weight: 300;
  color: #000000;
  font-size: 8rem;
  line-height: 10rem;
  margin-left: 10rem;
}
.main-content__heading span {
  font-size: 13rem;
}

/* ///Side-Images/// */

.side-images {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
.first-image,
.third-image {
  margin-right: 1rem;
}
.first-image,
.second-image,
.third-image,
.fourth-image {
  width: 25rem;
  height: 25rem;
}

.first-image,
.fourth-image {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.second-image {
  margin: 1rem;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.third-image {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.fourth-image {
  margin: 1rem;
}
/* ///Button/// */

.btn {
  box-sizing: border-box;
  width: 24rem;
  height: 4rem;
  border: 0.3rem solid #000000;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: #000000;
  align-self: center;
  margin-top: 10rem;
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
  background: rgba(249, 243, 238, 0.92);
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 2.5rem;
}
.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.room-book-now,
.discover {
  background-color: white;
}

/* //Rooms-section// */

.section-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 15rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}
.row {
  display: flex;
  margin-top: 5rem;
}
.card {
  margin: 5rem;
  width: 35rem;
  display: flex;
  flex: 1 0 0;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex: 1 0 auto;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  margin-left: -35rem;
}
.card__side--back-1 {
  background-color: #601f1f;
}
.card__side--back-2 {
  background-color: #601f1f;
}
.card__side--back-3 {
  background-color: #601f1f;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: url(Queen-Room.jpg);
}
.card__picture--2 {
  background-image: url(photo-1631049307264-da0ec9d70304.jpeg);
}
.card__picture--3 {
  background-image: url(trump-hotel-chicago-illinois-usa.jpg.webp);
}
.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 75%;
}
.card__heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
.heading-secondary {
  font-size: 1.5rem;
  text-align: center;
}
.heading-secondary span {
  font-weight: 900;
  font-size: 2rem;
}
